 <!-- Nav superior. -->
 <nav class="navbar fixed-top text-center text-white p-0 bg-a new-shadow">
  <h6 class="text-center d-inline-block text-truncate font-weight-bolder"
      style="max-width:80%;margin: auto;height: 2.5rem;line-height: 2.5;">Perfil</h6>

  <div style="width: 100%;height: 6rem; align-items: center;" class="d-flex justify-content-center p-3 bg-b">
      <div>
          <img src="public/upload/<%=user.userImage%>" class="img-profile-big mr-1" alt="<%=user.userImage%>">
      </div>
      <div class="ml-1" style="text-align: left;margin: auto 0;">
          <h6 class="mt-0 mb-0 font-weight-bolder"><%=user.name%></h6>
          <p class="mb-0">@<%=user.username%></p>
          <div class="estrellas" style="width: max-content;">
              <i class="material-icons text-warning">star</i>
              <i class="material-icons text-warning">star</i>
              <i class="material-icons text-warning">star</i>
              <i class="material-icons text-warning">star</i>
              <i class="material-icons text-warning">star</i>
          </div>
      </div>
  </div>
</nav>
<!-- Main -->
<div class="container-fluid text-center" style="margin-top:12rem;">
  <a class="text-dark block mt-4" href="/editProfile"><i class="material-icons pl-2 align-middle font2rem">settings</i><span> Editar
      perfil</span></a>        
  <a class="text-dark block mt-4" href="#"><i class="material-icons pl-2 align-middle font2rem">share</i><span> Compartir</span></a>
  <a class="text-dark block mt-4 mb-5" href="#"><i class="material-icons pl-2 align-middle font2rem">help_outline</i><span> Ayuda</span></a>
  <a class="text-danger block mt-5" href="/users/logout"><i class="material-icons pl-2 align-middle font2rem">exit_to_app</i><span> Cerrar
      sesión</span></a>
</div>

<!-- Nav inferior. -->
<nav class="navbar fixed-bottom navbar-dark bg-a" style="height: 3.2rem;">
    <div class="container-fluid pl-3 pr-3">
        <a class="text-white" href="/groups"><i class="material-icons align-middle font2rem">menu</i></a>
        <a class="text-white" href="/home"><i class="material-icons align-middle font2rem">home</i></a>
        <a class="text-white" href="/profile"><i class="material-icons align-middle font2rem">person</i></a>
    </div>
</nav>

<% include ./partials/messages %>